<h3><%= @vendor.name %></h3>

<ul>
<% @vendor.sweets.each do |sweet| %>
    <li>
      Sweet:<%= link_to sweet.name, sweet %>
    </li>

<% end %>
</ul>


<%= link_to "Check all the vendors" ,vendors_path %>
<br>
<%= link_to "Check all the sweets" ,sweets_path %>
