<h1><%= @sweet.name %></h1>

<ul>
<% @sweet.vendors.each do |vendor| %>
    <li>
      Vendor:<%= link_to vendor.name, vendor %>
    </li>

<% end %>
</ul>


<%= link_to "Check all the sweets" ,sweets_path %>
<br>
<%= link_to "Check all the vendors" ,vendors_path %>